<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
        <title>{% block title %}{% endblock %}Ben Simcox</title>
    {% endblock %}
</head>
<body>
    <h1 class="title">Ben Simcox</h1>
    <ul class="navigation">{% for link in links %}
        <a href="{{ link }}">{{ link }}</a>
    {% endfor %}</ul>
    <div id="content">{% block content %}{{ content|safe }}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>