<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
        <title>{% block title %}{% endblock %} bnsmcx.com</title>
    {% endblock %}
</head>
<body>
    <h1 class="title">Ben Simcox</h1>
    <h2 class="sub-title">Programming enthusiast and budding hacker</h2>
    <ul class="navigation">
        <a href="/">home</a>
        <a href="/resume">resume</a>
        <a href="/blog">blog</a>
    </ul>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>