{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et orci eget erat sagittis blandit vitae
        ut ante. Mauris odio enim, volutpat eu porttitor at, imperdiet sit amet ex. Donec nec ante eget leo faucibus
        consectetur in tempor neque. Aenean mauris ante, congue at augue eget, iaculis rutrum tortor. In hac
        habitasse platea dictumst. Etiam vulputate tempus ante, ut fermentum tellus malesuada eu. Sed ultricies
        eros at turpis luctus, sed aliquam elit hendrerit. Nullam eu elit iaculis, maximus diam in, blandit dui.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et orci eget erat sagittis blandit vitae
        ut ante. Mauris odio enim, volutpat eu porttitor at, imperdiet sit amet ex. Donec nec ante eget leo faucibus
        consectetur in tempor neque. Aenean mauris ante, congue at augue eget, iaculis rutrum tortor. In hac
        habitasse platea dictumst. Etiam vulputate tempus ante, ut fermentum tellus malesuada eu. Sed ultricies
        eros at turpis luctus, sed aliquam elit hendrerit. Nullam eu elit iaculis, maximus diam in, blandit dui.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et orci eget erat sagittis blandit vitae
        ut ante. Mauris odio enim, volutpat eu porttitor at, imperdiet sit amet ex. Donec nec ante eget leo faucibus
        consectetur in tempor neque. Aenean mauris ante, congue at augue eget, iaculis rutrum tortor. In hac
        habitasse platea dictumst. Etiam vulputate tempus ante, ut fermentum tellus malesuada eu. Sed ultricies
        eros at turpis luctus, sed aliquam elit hendrerit. Nullam eu elit iaculis, maximus diam in, blandit dui.
    </p>
    <p>DATE AND TIME: {{ date_time }}</p>
{% endblock %}
