{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
    <form action="" method="post">
        <div>
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" class="submit" value="Log In">
        </div>
        <div class="error">{{ error }}</div>
    </form>
{% endblock %}