{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
    <p class="resume-summary">I've done some stuff I think is cool.  Maybe you think so too.
        You can view my resume<a href="http://bnsmcx.com/resume.pdf">here</a></p>
    <h3>Coding</h3>

    <ol><a href="https://www.github.com/bnsmcx">My Github</a></ol>
    <ol><a href="https://www.example.com">Some example project</a></ol>
    <h3>Hacking</h3>
    <ol><a href="https://globalmedia.umgc.edu/2021/03/29/umgc-takes-first-place-in-cybermarylands-national-capture-the-flag-competition/?sf244422595=1">Cyber Maryland CTF - 2021</a></ol>
    <ol><a href="https://cyberskyline.com/report/N0L30C73J34B">National Cyber League - Spring 2021</a></ol>
    <ol><a href="https://cyberskyline.com/report/Y697Q3831920">National Cyber League - Fall 2020</a></ol>

{% endblock %}